~*
TAGS
tags
GPATH
GRTAGS
GTAGS
*~
junk*
jnq*
!*.exe
*.o
*.mod
*.pro.user
*.txt
*.bak
!**/CMakeLists.txt
!**/*.txt
__pycache__
cmake-build-debug
cmake-build-release
/build-*/
/.tools/
/stage-main/
/K4-WSJT-X-*-win64*.exe
CMakeFiles
fnd
lib/77bit/tmp
lib/tmp
